html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    padding-left: 50px;
    padding-top: 1%;
}

h2{
    padding-left: 50px;
    padding-top: 2%;
}

a, a:visited {
    color: black;
    border:1px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: left;
    display: inline-block;
    font-size:50%;
}
a:hover {
    color: red;
    font-size:65%;
}

hr {
    width: 1008px;
}

div *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#turn {
    max-width: 451px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    float: right;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-style: inset;
    text-align: center;
    padding: 5px 0 0 0;
    background: #fff;
    transition: .85s linear;
}

.turnhighlight {
    background: #5cb85c;
    color: #fff;
}

#board {
    max-width: 504px;
    max-height: 504px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
}

.tileName{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    padding: 15px 0 0 20px;
}

.tile {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    font-size: 30pt;
    padding: 0 0 0 6px;
    cursor: pointer;
    z-index: 1;
}

.tile:hover {
    color: #fff;
    background: rgba(37, 88, 228, 0.712);
  }

.black {
    background: rgba(128, 128, 128, 0.801);
}